{% extends "layout.html" %}
{% block content %}
{% import "components/navbar.html" as navbar %}
<header class="header">
  {{ navbar.navbar() }}
  <div class="header-content">
    <div class="header-content-text">
      <h1 class="header-content-text--heading">
        Criss Nellaer
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
    <div class="header-content--image"></div>
  </div>
</header>

<main class="blog-list">

</main>
{% endblock content %}