{% extends "layout.html" %}
{% block content %}
{% import "components/navbar.html" as navbar %}
<div class="login-navbar">
  {{ navbar.navbar(current_user.is_authenticated) }}
</div>
<div class="login-container">
  <form class="login-form" method="POST">
    {{ form.hidden_tag() }}
    <fieldset class="login-form-group">
      <div class="login-form-email mb-4">
        {{ form.email.label(class="form-label login-form-email--label") }}
        {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid login-form-email--input") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.email(class="form-control form-control-lg login-form-email--input") }}
        {% endif %}
      </div>
      <div class="login-form-password mb-4">
        {{ form.password.label(class="form-label login-form-email--label") }}
        {% if form.password.errors %}
        {{ form.password(class="form-control form-control-lg is-invalid login-form-email--input") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.password(class="form-control form-control-lg login-form-email--input") }}
        {% endif %}
      </div>
      <div class="form-check">
        {{ form.remember_me.label(class="form-check-label  login-form-check--label") }}
        {{ form.remember_me(class="form-check-input login-form-check--input") }}
      </div>
      <div class="login-form-submit">
        {{ form.submit(class="btn btn-lg") }}
      </div>
    </fieldset>
  </form>
</div>
{% endblock content %}